* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App .todos_page .todo_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 50px;
}

.App .todos_page .todo_header .link {
  text-decoration: none;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.App .todos_page .todo_header .link:hover {
  background-color: #209999;
}

.App .todos_page .title {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .todos_page .title h2 {
  font-weight: 200;
  margin-right: 20px;
}

.App .todos_page .title button {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 17px;
  cursor: pointer;
}

.App .todos_page .search_todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.App .todos_page .search_todo input {
  width: 400px;
  padding: 10px 20px;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.App .todos_page .search_todo input:focus {
  outline: none;
}

.App .todos_page .todos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 50px;
}

.App .todos_page .todos .todo {
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.App .todos_page .todos .todo .todo_upper {
  height: 90%;
}

.App .todos_page .todos .todo .todo_upper .todo_title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.App .todos_page .todos .todo .todo_upper .todo_title h3 {
  font-weight: 200;
}

.App .todos_page .todos .todo .todo_upper .todo_title span {
  position: absolute;
  left: 0;
  font-weight: bold;
}

.App .todos_page .todos .todo .todo_upper .todo_desc {
  padding: 10px 0px;
}

.App .todos_page .todos .todo .todo_bottom {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .todos_page .todos .todo .todo_bottom .events i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.App .todos_page .todos .todo .todo_bottom .events .fa-edit {
  color: orange;
}

.App .todos_page .todos .todo .todo_bottom .events .fa-trash {
  color: red;
}

.App .todos_page .centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 50px;
}

.App .todos_page .centered .no_todos {
  font-size: 22px;
  padding: 20px 0px;
}

.App .todos_page .create_form, .App .todos_page .update_form {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .todos_page .create_form .form, .App .todos_page .create_form .update, .App .todos_page .update_form .form, .App .todos_page .update_form .update {
  background-color: lightgray;
  width: 350px;
  min-height: 400px;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeInForm 0.4s linear;
          animation: fadeInForm 0.4s linear;
}

@-webkit-keyframes fadeInForm {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeInForm {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.App .todos_page .create_form .form .create_title, .App .todos_page .create_form .form .update_title, .App .todos_page .create_form .update .create_title, .App .todos_page .create_form .update .update_title, .App .todos_page .update_form .form .create_title, .App .todos_page .update_form .form .update_title, .App .todos_page .update_form .update .create_title, .App .todos_page .update_form .update .update_title {
  text-align: center;
}

.App .todos_page .create_form .form .create_title h3, .App .todos_page .create_form .form .update_title h3, .App .todos_page .create_form .update .create_title h3, .App .todos_page .create_form .update .update_title h3, .App .todos_page .update_form .form .create_title h3, .App .todos_page .update_form .form .update_title h3, .App .todos_page .update_form .update .create_title h3, .App .todos_page .update_form .update .update_title h3 {
  font-weight: 200;
}

.App .todos_page .create_form .form .form_content div, .App .todos_page .create_form .form .update_content div, .App .todos_page .create_form .update .form_content div, .App .todos_page .create_form .update .update_content div, .App .todos_page .update_form .form .form_content div, .App .todos_page .update_form .form .update_content div, .App .todos_page .update_form .update .form_content div, .App .todos_page .update_form .update .update_content div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 7px 0px;
}

.App .todos_page .create_form .form .form_content div input, .App .todos_page .create_form .form .update_content div input, .App .todos_page .create_form .update .form_content div input, .App .todos_page .create_form .update .update_content div input, .App .todos_page .update_form .form .form_content div input, .App .todos_page .update_form .form .update_content div input, .App .todos_page .update_form .update .form_content div input, .App .todos_page .update_form .update .update_content div input {
  border: none;
  border-radius: 7px;
  padding: 7px 5px;
}

.App .todos_page .create_form .form .form_content div input:focus, .App .todos_page .create_form .form .update_content div input:focus, .App .todos_page .create_form .update .form_content div input:focus, .App .todos_page .create_form .update .update_content div input:focus, .App .todos_page .update_form .form .form_content div input:focus, .App .todos_page .update_form .form .update_content div input:focus, .App .todos_page .update_form .update .form_content div input:focus, .App .todos_page .update_form .update .update_content div input:focus {
  outline: none;
}

.App .todos_page .create_form .form .form_content .error, .App .todos_page .create_form .form .update_content .error, .App .todos_page .create_form .update .form_content .error, .App .todos_page .create_form .update .update_content .error, .App .todos_page .update_form .form .form_content .error, .App .todos_page .update_form .form .update_content .error, .App .todos_page .update_form .update .form_content .error, .App .todos_page .update_form .update .update_content .error {
  color: red;
  font-size: 14px;
}

.App .todos_page .create_form .form .form_content .create_btn, .App .todos_page .create_form .form .form_content .update_btn, .App .todos_page .create_form .form .update_content .create_btn, .App .todos_page .create_form .form .update_content .update_btn, .App .todos_page .create_form .update .form_content .create_btn, .App .todos_page .create_form .update .form_content .update_btn, .App .todos_page .create_form .update .update_content .create_btn, .App .todos_page .create_form .update .update_content .update_btn, .App .todos_page .update_form .form .form_content .create_btn, .App .todos_page .update_form .form .form_content .update_btn, .App .todos_page .update_form .form .update_content .create_btn, .App .todos_page .update_form .form .update_content .update_btn, .App .todos_page .update_form .update .form_content .create_btn, .App .todos_page .update_form .update .form_content .update_btn, .App .todos_page .update_form .update .update_content .create_btn, .App .todos_page .update_form .update .update_content .update_btn {
  margin-top: 25px;
}

.App .todos_page .create_form .form .form_content .create_btn button, .App .todos_page .create_form .form .form_content .update_btn button, .App .todos_page .create_form .form .update_content .create_btn button, .App .todos_page .create_form .form .update_content .update_btn button, .App .todos_page .create_form .update .form_content .create_btn button, .App .todos_page .create_form .update .form_content .update_btn button, .App .todos_page .create_form .update .update_content .create_btn button, .App .todos_page .create_form .update .update_content .update_btn button, .App .todos_page .update_form .form .form_content .create_btn button, .App .todos_page .update_form .form .form_content .update_btn button, .App .todos_page .update_form .form .update_content .create_btn button, .App .todos_page .update_form .form .update_content .update_btn button, .App .todos_page .update_form .update .form_content .create_btn button, .App .todos_page .update_form .update .form_content .update_btn button, .App .todos_page .update_form .update .update_content .create_btn button, .App .todos_page .update_form .update .update_content .update_btn button {
  padding: 7px 0px;
  border: none;
  border-radius: 7px;
  background-color: green;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.App .todos_page .create_form .form .form_content .success_msg, .App .todos_page .create_form .form .update_content .success_msg, .App .todos_page .create_form .update .form_content .success_msg, .App .todos_page .create_form .update .update_content .success_msg, .App .todos_page .update_form .form .form_content .success_msg, .App .todos_page .update_form .form .update_content .success_msg, .App .todos_page .update_form .update .form_content .success_msg, .App .todos_page .update_form .update .update_content .success_msg {
  color: green;
  text-align: center;
}

.App .todos_page .delete_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .todos_page .delete_wrapper .delete {
  background-color: lightgray;
  width: 700px;
  padding: 20px;
  border-radius: 15px;
}

.App .todos_page .delete_wrapper .delete .question {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.App .todos_page .delete_wrapper .delete .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .todos_page .delete_wrapper .delete .events button {
  margin-left: 10px;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.App .todos_page .delete_wrapper .delete .events .cancel:hover {
  background-color: #e6e6e6;
}

.App .todos_page .delete_wrapper .delete .events .del {
  background-color: red;
  color: white;
}

.App .todos_page .delete_wrapper .delete .events .del:hover {
  background-color: #ff3535;
}

.App .todos_page .preview_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .todos_page .preview_wrapper .preview {
  background-color: lightgray;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  padding: 20px;
  -webkit-animation: fadeInPreview 0.4s linear;
          animation: fadeInPreview 0.4s linear;
}

@-webkit-keyframes fadeInPreview {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeInPreview {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.App .todos_page .preview_wrapper .preview .preview_title {
  text-align: center;
  height: 10%;
}

.App .todos_page .preview_wrapper .preview .preview_title h2 {
  font-weight: 200;
}

.App .todos_page .preview_wrapper .preview .preview_text {
  height: 80%;
  padding-top: 10px;
}

.App .todos_page .preview_wrapper .preview .preview_date {
  height: 10%;
  text-align: right;
}

.App .motivate .motivate_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 50px;
}

.App .motivate .motivate_header .link {
  text-decoration: none;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.App .motivate .motivate_header .link:hover {
  background-color: #209999;
}

.App .motivate .title {
  text-align: center;
  padding: 10px 0px;
}

.App .motivate .title h2 {
  font-weight: 200;
}

.App .motivate .motivate_msg {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .motivate .motivate_msg .msg {
  background-color: #e4e4e4;
  margin: 10px 0px;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
}

.App .motivate .motivate_msg .msg .quote {
  font-size: 18px;
}

.App .motivate .motivate_msg .msg .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: teal;
}

.App .motivate .motivate_msg .skeleton {
  background-color: #e4e4e4;
  width: 60%;
  height: 90px;
  margin: 10px 0px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .motivate .motivate_msg .skeleton .skeleton_upper {
  width: 100%;
  height: 20px;
  padding: 0px 30px;
  margin-top: 15px;
}

.App .motivate .motivate_msg .skeleton .skeleton_upper div {
  background-color: #b3b3b3;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.App .motivate .motivate_msg .skeleton .skeleton_lower {
  height: 20px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .motivate .motivate_msg .skeleton .skeleton_lower div {
  width: 20%;
  height: 100%;
  border-radius: 7px;
  background-color: #b3b3b3;
}
/*# sourceMappingURL=App.css.map */