* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.App {
    .todo {
        .todo_header {
            display: flex;
            justify-content: flex-end;
            margin: 10px 50px;
            .link {
                text-decoration: none;
                background-color: teal;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(32, 153, 153);
                }
            }
        }
    }
    .motivate {
        .motivate_header {
            display: flex;
            justify-content: flex-end;
            margin: 10px 50px;
            .link {
                text-decoration: none;
                background-color: teal;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(32, 153, 153);
                }
            }
        }
        .title {
            text-align: center;
            padding: 10px 0px;
            h2 {
                font-weight: 200;
            }
        }
        .motivate_msg {
            padding: 0px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .msg {
                background-color: rgb(228, 228, 228);
                margin: 10px 0px;
                padding: 20px;
                border-radius: 10px;
                width: 60%;
                .quote {
                    font-size: 18px;
                }
                .author {
                    display: flex;
                    justify-content: flex-end;
                    color: teal;
                }
            }
        }
    }
}